* {
    padding: 0;
    margin: 0;
  }
  :root {
    --primColor: #759fff;
    --secoColor: #443d3d;
    --cornerRad: 4px;
  }
  body{
    background-image: url(https://i.pinimg.com/originals/73/69/a6/7369a6521a3b2aa592a747973c484857.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Hack, monospace;
}
div{
    text-align: center;
    display: flex;
  }
  .logo{

    float: left;
}
  p {
    margin: 16px;
    font-size: 80px;
    color: rgb(233, 221, 231);
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
  }
  p::before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: #3282ec;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }
  p:hover::before {
    width: 100%;
  }
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:  #8cafc5;
    width: 100%;
    height: min-content;
  }
  details {
    margin: 40px;
    float: left;
  }
  summary {
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px 10px;
    width: 23px;
    height: 17px;
    background-color: rgb(186, 208, 227);
    border: 2px solid var(--secoColor);
    border-radius: var(--cornerRad);
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  summary::before,
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::before {
    content: "";
  }
  summary::after {
    content: "III";
    letter-spacing: -1px;
  }
  summary:hover {
    transform: scale(1.1);
  }
  summary::marker {
    font-size: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  details[open] .menu {
    animation-name: menuAnim;
  }
  details[open] summary::before {
    content: "X";
  }
  details[open] summary::after {
    content: "";
  }
  .menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--primColor);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
    padding: 12px 24px;
    margin: 0 16px;
    color: var(--secoColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
    padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
    border-bottom: none;
  }
  .menu a:hover {
    filter: brightness(200%);
  }
  details::before {
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
  }
  details[open]::before {
    animation: fadeMe 300ms linear forwards;
  }
  @keyframes menuAnim {
    0% {
      height: 0;
    }
    100% {
      height: 312px;
    }
  }
  @keyframes fadeMe {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    margin: auto;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-image: url(https://i.pinimg.com/564x/b5/0e/af/b50eafe8500a6d61acca6d9b7bea54a2.jpg);
    background-position:inherit;
    background-size: cover;
  }
.card1{
  width: 30%;
  color: beige;
    margin: auto;
  flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
    background-image: url(https://i.pinimg.com/236x/ac/42/80/ac42802ad382bb956bb692ad2957f939.jpg);
    background-position:inherit;
    background-size: cover;
  }
.card2{
  width: 30%;
    margin: auto;
  flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
    background-image: url(https://i.pinimg.com/564x/46/3f/77/463f7796db0c1c86f010362ea33cfef9.jpg);
    background-position:inherit;
    background-size: cover;
  }
  .container h1{
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }
  .container .card{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .imagen-romance{
    align-self: center;
    width: 90%;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 5px;
    justify-content: space-between;
  }
  .slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 6px;
    width: 1000px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position:absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    width: 1000px;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}
.titulo{
  text-align: center;
  font-size: 22px;
}
.footer{
  background-color: #78a9ce;
}
.footer-tittle{
  font-size: 20px;
}
.parrafo{
  font-size: 16px;
}